@font-face {
  font-family: "MornBold";
  src: url("../font/Morn-Bold.ttf")
}

@font-face {
  font-family: "MornDemiBold";
  src: url("../font/Morn-DemiBold.ttf")
}

@font-face {
  font-family: "MornMedium";
  src: url("../font/Morn-Medium.ttf")
}

@font-face {
  font-family: "MornRegular";
  src: url("../font/Morn-Regular.ttf")
}

body {
  padding: 0;
  margin: 0;
  font-family: "MornMedium";
  background-color: #060b20;
}

a {
  text-decoration: none;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  background-color: white;
  border-radius: 1.2rem 1.2rem 0 0;
}

/* === NavBar ===*/
.navbar-container {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  background-color: #060b20;

  .website-logo {
    width: 3.4rem;

    .logo {
      width: 100%;
    }
  }

  .navigation-container {
    gap: 1.4rem;

    .nav-area-selected {
      cursor: pointer;
      width: fit-content;
      gap: 0.5rem;
      background-color: white;
      padding: 0.55rem 0.85rem;
      border-radius: 1.2rem;
    }

    .nav-area-unselected {
      cursor: pointer;
      width: fit-content;
      gap: 0.5rem;
      padding: 0.55rem 0.85rem;
      border-radius: 1.2rem;
      color: white;
      fill: white;
    }
  }

  .notification-container,
  .profile-container {
    cursor: pointer;
  }
}

/* === Filter ===*/
.filter-container {
  padding: 2.2rem 2.2rem 1rem 2.2rem;

  .filter-title {
    font-size: 1.6rem;
    font-family: "MornDemiBold";
  }

  .filter-input-container {
    display: flex;
    width: auto;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: end;

    .brand-filter {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 1rem;
      flex-wrap: wrap;

      .brand-item {
        cursor: pointer;
        padding: 0.5rem 2.4rem;
        border: 2px rgb(231, 231, 231) solid;
        border-radius: 1.2rem;
        background-color: rgb(248, 248, 248);
      }

      .brand-item:hover {
        background-color: rgb(242, 242, 242);
      }
    }
  }
}

/* === Popular Cars ===*/
.popular-cars-container {
  padding: 2.2rem 2.2rem 2.2rem 2.2rem;

  .popular-cars-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {
      gap: 0.5rem;

      .title {
        font-size: 1.65rem;
        font-family: "MornDemiBold";
      }
    }

    .see-all-col {
      cursor: pointer;
      font-size: 1.2rem;
      color: blue;
      font-family: "MornDemiBold";
    }

    .see-all-col:hover {
      text-decoration: underline;
    }
  }

  .popular-cars-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 0 0;
    gap: 1.5rem;
  }
}

/* === Popular Card ===*/
.popular-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 100%;

  .car-container {
    // background-color: #eef1fa;

    .car-info {
      display: flex;
      align-items: center;
      padding: 1rem;
      justify-content: space-between;

      .name-container {
        .model-container {
          display: flex;
          flex-direction: column;
          padding: 0.45rem;

          .model {
            font-size: 1.25rem;
            font-family: "MornBold";
          }

          .Smodel {
            font-size: 1rem;
            font-family: "MornRegular";
          }
        }
      }

      .is-available {
        padding: 0.2rem 0.4rem;
        background-color: rgb(175, 255, 175);
        font-size: 1rem;
        border-radius: 0.875rem;
      }
    }

    .car-picture {
      position: relative;
      padding: 1rem;
      height: 8rem;
      width: 100%;

      .opacity-title {
        position: absolute;
        transform: translateY(-25px);
        font-size: 6.2rem;
        font-size: "MornBold";
        background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 10;
      }

      .car-img {
        width: 80%;
        object-fit: contain;
        z-index: 11;
      }
    }
  }

  .owner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e9f3;
    padding: 0.75rem 1.2rem;

    .owner-info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .user-pricture {
        width: 30px;
        height: 30px;
      }

      .name {
        font-size: 1.05rem;
        font-family: "MornDemiBold";
      }
    }

    .price-container {
      .price {
        font-size: 1.15rem;
        font-family: "MornBold";
      }

      .day {
        font-size: 0.8rem;
        font-family: "MornRegular";
      }
    }
  }
}

/* === All cars ===*/
.all-cars-container {
  padding: 2.2rem 2.2rem 2.2rem 2.2rem;

  .all-cars-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {
      gap: 0.5rem;

      .title {
        font-size: 1.65rem;
        font-family: "MornDemiBold";
      }
    }

    .see-all-col {
      cursor: pointer;
      font-size: 1.2rem;
      color: blue;
      font-family: "MornDemiBold";
    }

    .see-all-col:hover {
      text-decoration: underline;
    }
  }

  .all-cars-area {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 0 0 0;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}

/* === All cars - Card ===*/
.vehicle-container {
  display: block;
  flex-direction: column;
  border-radius: 1.65rem;
  overflow: hidden;
  width: 100%;
  flex: 0 0 calc(25% - 20px);
  box-sizing: border-box;
  cursor: pointer;

  .car-container {
    flex-direction: column;
    padding: 1rem;
    background-color: #eceff8db;

    .infos-container {
      display: flex;
      align-items: center;
      justify-content: space-between; 

      .name-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .brand {
          font-size: 1.5rem;
          font-family: "MornDemiBold";
        }

        .model {
          font-size: 1rem;
          font-family: "MornRegular";
        }
      }
    }

    .car-img-container {
      padding: 1rem;
      height: 8rem;
      width: 100%;
    
      .car-img {
        width: 90%;
        object-fit: contain;
      }
    }
  }

  .stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    padding: 1rem;
    background-color: #eeeeee;

    .stats {
      gap: 1rem;

      .stats-items {
        gap: 0.3rem
      }
    }

    .price-container {
      .price {
        font-size: 1.2rem;
        font-family: "MornBold";
      }

      .day {
        font-size: 0.9rem;
        font-family: "MornRegular";
      }
    }
  }
}
