{# 404.twig #}
{% extends "/templates/default.html.twig" %}

{% block title %}404 Page
{% endblock %}

{% block content %}
	{% include '/templates/components/navbar.twig' with {'homeUrl': '/', 'dashboardUrl': '/dashboard', 'profilUrl': '/profil', 'isAdmin': isAdmin} %}

	<h1>404 CONTENT</h1>
{% endblock %}
