{# 404.twig #}
{% extends "/templates/default.html.twig" %}

{% block title %}404 Page
{% endblock %}

{% block content %}
	{% include '/templates/components/navbar.twig' with {'homeUrl': '/', 'dashboardUrl': '/dashboard', 'profilUrl': '/profil', 'isAdmin': isAdmin} %}

	<div class="error-container">
		❌ 404 Error, path not found
	</div>
{% endblock %}
