{# dashboard.twig #}
{% extends "/templates/default.html.twig" %}

{% block title %}Dashboard Page
{% endblock %}

{% block content %}
	<div class="dasboard-container">
		{# Good Morning #}
		<div class="good-morning-container">
			<div class="title">Good Morning,</div>
			<div class="username">Thomas</div>
		</div>
	</div>
{% endblock %}
