{% block all_cars %}
  <div class="all-cars-container">
    {# Title #}
    <div class="all-cars-title">

      <div class="title-container flexbox">
        <div class="title">All cars</div>
      </div>

      <a class="see-all-col" href="/cars">See All Collection ></a>
    </div>

    {# 3 popular car #}
    <div class="all-cars-area" id="all-cars-area">
      {% if vehicles is empty %}
        <p>Aucun véhicule n'est enregistrée</p>
      {% else %}
        {% for vehicle in vehicles %}
          {% include '/templates/components/vehicle.twig' with {'id': vehicle.id, 'brand': vehicle.brand, 'model': vehicle.model, 'logo': vehicle.brand_logo, 'modelImage': vehicle.url_picture, 'seats': vehicle.nb_seats, 'petrol': vehicle.petrol, 'gear': vehicle.gearbox, 'price': vehicle.price} %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
{% endblock %}
