{% block carfilter %}
  <div class="filter-container">
    {# Title #}
    <div class="filter-title">Drive the Car of your dreams</div>
    {# Filter #}
    <div class="filter-input-container">
      <div class="brand-filter">
        <a class="brand-item" href="/cars?brand=nissan">
          <img src="public/assets/svg/nissan.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=renault">
          <img src="public/assets/svg/renault.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=tesla">
          <img src="public/assets/svg/tesla.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=volvo">
          <img src="public/assets/svg/volvo.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=fiat">
          <img src="public/assets/svg/fiat.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=mclaren">
          <img src="public/assets/svg/mclaren.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=peugeot">
          <img src="public/assets/svg/peugeot.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=volvwagen">
          <img src="public/assets/svg/volvwagen.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=ferrari">
          <img src="public/assets/svg/ferrari.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=porsche">
          <img src="public/assets/svg/porsche.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=hyundai">
          <img src="public/assets/svg/hyundai.svg" alt="">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
