{% block carfilter %}
  <div class="filter-container">
    {# Title #}
    <div class="filter-title">Drive the Car of your dreams</div>
    {# Filter #}
    <div class="filter-input-container">
      <div class="brand-filter">
        <div class="brand-item">
          <img src="public/assets/svg/nissan.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/renault.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/tesla.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/volvo.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/fiat.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/mclaren.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/peugeot.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/volwagen.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/ferrari.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/porsche.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/hyundai.svg" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
