{% block carfilter %}
  <div class="filter-container">
    {# Filter Icon #}
    <div class="filter-icon-container">
      <svg id="filter-icon" class="filter-icon" onclick="toggleFilter()" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H19.4C19.9601 3 20.2401 3 20.454 3.10899C20.6422 3.20487 20.7951 3.35785 20.891 3.54601C21 3.75992 21 4.03995 21 4.6V6.33726C21 6.58185 21 6.70414 20.9724 6.81923C20.9479 6.92127 20.9075 7.01881 20.8526 7.10828C20.7908 7.2092 20.7043 7.29568 20.5314 7.46863L14.4686 13.5314C14.2957 13.7043 14.2092 13.7908 14.1474 13.8917C14.0925 13.9812 14.0521 14.0787 14.0276 14.1808C14 14.2959 14 14.4182 14 14.6627V17L10 21V14.6627C10 14.4182 10 14.2959 9.97237 14.1808C9.94787 14.0787 9.90747 13.9812 9.85264 13.8917C9.7908 13.7908 9.70432 13.7043 9.53137 13.5314L3.46863 7.46863C3.29568 7.29568 3.2092 7.2092 3.14736 7.10828C3.09253 7.01881 3.05213 6.92127 3.02763 6.81923C3 6.70414 3 6.58185 3 6.33726V4.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </div>
    {# All Filter #}
    <div class="all-filter-container" style="display: none" id="all-filter-container">
      {# Petrol #}
      <div class="item-filter-container spacebox">
        <div class="title">Filter - Fuel</div>
        <div class="item-filter-area">
          <a class="item-filter" href="cars?fuel=diesel">Diesel</a>
          <a class="item-filter" href="cars?fuel=essence">Essence</a>
          <a class="item-filter" href="cars?fuel=ethanol">Ethanol</a>
        </div>
      </div>
      {# Seats #}
      <div class="item-filter-container spacebox">
        <div class="title">Filter - Number Seats</div>
        <div class="item-filter-area">
          <a class="item-filter" href="cars?seats=1">1</a>
          <a class="item-filter" href="cars?seats=2">2</a>
          <a class="item-filter" href="cars?seats=4">4</a>
          <a class="item-filter" href="cars?seats=5">5</a>
          <a class="item-filter" href="cars?seats=6">6</a>
          <a class="item-filter" href="cars?seats=9">9</a>
        </div>
      </div>

      {# Gearbox #}
      <div class="item-filter-container spacebox">
        <div class="title">Filter - Gearbox</div>
        <div class="item-filter-area">
          <a class="item-filter" href="cars?gearbox=manual">Manuel</a>
          <a class="item-filter" href="cars?gearbox=auto">Automatique</a>
        </div>
      </div>

      {# Color #}
      <div class="item-filter-container spacebox">
        <div class="title">Filter - Color</div>
        <div class="item-filter-area">
          <a class="item-filter" href="cars?color=red">Red</a>
          <a class="item-filter" href="cars?color=white">White</a>
          <a class="item-filter" href="cars?color=blue">Blue</a>
          <a class="item-filter" href="cars?color=gray">Gray</a>
          <a class="item-filter" href="cars?color=orange">Orange</a>
          <a class="item-filter" href="cars?color=black" >Black</a>
        </div>
      </div>

      {# Price #}
      <div class="item-filter-container spacebox">
        <div class="title">Filter - Price</div>
        <div class="item-filter-area flexbox">
          <div class="flexbox" style="gap: .2rem">
            <div>$</div>
            <input class="item-filter-input" value="0" type="number" name="" id="priceStart">
          </div>
          <div>-</div>
          <div class="flexbox" style="gap: .2rem">
            <div>$</div>
            <input class="item-filter-input" value="1000" type="number" name="" id="priceEnd">
          </div>
          <button class="item-filter-button" onclick="searchCars()">Search</button>
        </div>
      </div>
    </div>
    {# Title #}
    <div class="filter-title">Drive the Car of your dreams</div>
    {# Brand Filter #}
    <div class="filter-input-container" id="filter-input-container">
      <div class="brand-filter">
        <a class="brand-item" href="/cars?brand=nissan">
          <img src="public/assets/svg/nissan.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=renault">
          <img src="public/assets/svg/renault.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=tesla">
          <img src="public/assets/svg/tesla.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=volvo">
          <img src="public/assets/svg/volvo.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=fiat">
          <img src="public/assets/svg/fiat.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=mclaren">
          <img src="public/assets/svg/mclaren.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=peugeot">
          <img src="public/assets/svg/peugeot.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=volvwagen">
          <img src="public/assets/svg/volvwagen.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=ferrari">
          <img src="public/assets/svg/ferrari.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=porsche">
          <img src="public/assets/svg/porsche.svg" alt="">
        </a>
        <a class="brand-item" href="/cars?brand=hyundai">
          <img src="public/assets/svg/hyundai.svg" alt="">
        </a>
      </div>
    </div>
  </div>

  <script>
    function toggleFilter() {
      var filterContainer = document.getElementById("all-filter-container");
      var filterIconSvg = document.getElementById("filter-icon");

      if (filterContainer.style.display === "none") {
        // Afficher le filtre
        filterContainer.style.display = "flex";
        // Changer l'icône du filtre
        filterIconSvg.innerHTML = ""
        filterIconSvg.innerHTML = `<svg class="filter-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 15L21 21M21 15L15 21M10 21V14.6627C10 14.4182 10 14.2959 9.97237 14.1808C9.94787 14.0787 9.90747 13.9812 9.85264 13.8917C9.7908 13.7908 9.70432 13.7043 9.53137 13.5314L3.46863 7.46863C3.29568 7.29568 3.2092 7.2092 3.14736 7.10828C3.09253 7.01881 3.05213 6.92127 3.02763 6.81923C3 6.70414 3 6.58185 3 6.33726V4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H19.4C19.9601 3 20.2401 3 20.454 3.10899C20.6422 3.20487 20.7951 3.35785 20.891 3.54601C21 3.75992 21 4.03995 21 4.6V6.33726C21 6.58185 21 6.70414 20.9724 6.81923C20.9479 6.92127 20.9075 7.01881 20.8526 7.10828C20.7908 7.2092 20.7043 7.29568 20.5314 7.46863L17 11" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>`;
      } else {
        // Cacher le filtre
        filterContainer.style.display = "none";
        // Changer l'icône du filtre
        filterIconSvg.innerHTML = ""
        filterIconSvg.innerHTML = `<svg class="filter-icon" width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H19.4C19.9601 3 20.2401 3 20.454 3.10899C20.6422 3.20487 20.7951 3.35785 20.891 3.54601C21 3.75992 21 4.03995 21 4.6V6.33726C21 6.58185 21 6.70414 20.9724 6.81923C20.9479 6.92127 20.9075 7.01881 20.8526 7.10828C20.7908 7.2092 20.7043 7.29568 20.5314 7.46863L14.4686 13.5314C14.2957 13.7043 14.2092 13.7908 14.1474 13.8917C14.0925 13.9812 14.0521 14.0787 14.0276 14.1808C14 14.2959 14 14.4182 14 14.6627V17L10 21V14.6627C10 14.4182 10 14.2959 9.97237 14.1808C9.94787 14.0787 9.90747 13.9812 9.85264 13.8917C9.7908 13.7908 9.70432 13.7043 9.53137 13.5314L3.46863 7.46863C3.29568 7.29568 3.2092 7.2092 3.14736 7.10828C3.09253 7.01881 3.05213 6.92127 3.02763 6.81923C3 6.70414 3 6.58185 3 6.33726V4.6Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>`;
      }
    }

    function searchCars() {
      // Récupérer les valeurs des champs d'entrée
      var priceStart = document.getElementById("priceStart").value;
      var priceEnd = document.getElementById("priceEnd").value;

      // Générer l'URL avec les valeurs
      var url = "/cars?pricestart=" + priceStart + "&priceend=" + priceEnd;

      // Rediriger vers l'URL générée
      window.location.href = url;
    }
  </script>
{% endblock %}
