{% block carfilter %}
  <div class="filter-container">
    {# Title #}
    <div class="filter-title">Drive the Car of your dreams</div>
    {# Filter #}
    <div class="filter-input-container">
      <div class="brand-filter">
        <div class="brand-item">
          <img src="public/assets/svg/nissan.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/renault.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/tesla.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/volvo.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/fiat.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/mclaren.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/peugeot.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/volwagen.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/ferrari.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/porsche.svg" alt="">
        </div>
        <div class="brand-item">
          <img src="public/assets/svg/hyundai.svg" alt="">
        </div>
      </div>
      <div class="search-filter">
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.1" d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" fill="#ffffff"></path> <path d="M15 15L21 21" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#ffffff" stroke-width="2"></path> </g></svg>
        <div>Search</div>
      </div>
    </div>
  </div>
{% endblock %}
