{% block navbar %}
	<nav>
		<ul>
			<li>
				<a href="{{ homeUrl }}">Accueil</a>
			</li>
			<li>
				<a href="{{ dashboardUrl }}">Dashboard</a>
			</li>
			<li>
				<a href="{{ profilUrl }}">Profil</a>
			</li>
		</ul>
	</nav>

{% endblock %}
