{% block popular_card %}
  <div class="popular-card-container">
    {# Car #}
    <div class="car-container">
      <div class="car-info">
        <div class="name-container flexbox">
          <img src="public/assets/svg/porsche.svg" alt="">
          <div class="model-container">
            <div class="model">Porsche 911</div>
            <div class="Smodel">Turbo S - 2021</div>
          </div>
        </div>
        <div class="is-available">
          Available
        </div>
      </div>
      <div class="car-picture flexbox">
        <img src="public/assets/car-model/porsche-model.png" alt="">
      </div>
    </div>

    {# Info #}
    <div class="owner-container">
      <div class="owner-info">
        <img src="public/assets/user.png" class="user-pricture" alt="">
        <div class="name">Leslie Alexander</div>
      </div>

      <div class="price-container flexbox">
        <div class="price">$950</div>
        <div class="day">/day</div>
      </div>
    </div>
  </div>
{% endblock %}
