{% block popular_cars %}
  <div class="popular-cars-container">
    {# Title #}
    <div class="popular-cars-title">

      <div class="title-container flexbox">
        <img src="public/assets/svg/fire.svg" alt="">
        <div class="title">Popular cars</div>
      </div>

      <div class="see-all-col">See All Collection ></div>
    </div>

    {# 3 popular car #}
    <div class="popular-cars-area">
      {% include '/templates/components/popular-card.twig' with {'model': 'Porsche 911', 'logo': 'public/assets/svg/porsche.svg', 'modelImage': 'public/assets/car-model/porsche-model.png', 'available': 'Available', 'name_owner': 'Thomas Kft', 'price': '950', 'nameBackground': 'PORSHE'} %}
      {% include '/templates/components/popular-card.twig' with {'model': 'Ferrari Pista', 'logo': 'public/assets/svg/ferrari.svg', 'modelImage': 'public/assets/car-model/ferrari.png', 'available': 'Available', 'name_owner': 'Siweil Mng', 'price': '450', 'nameBackground': 'FERRARI'} %}
      {% include '/templates/components/popular-card.twig' with {'model': 'Mclaren 765LT', 'logo': 'public/assets/svg/mclaren.svg', 'modelImage': 'public/assets/car-model/mclaren.png', 'available': 'Available', 'name_owner': 'Thomas kft', 'price': '750', 'nameBackground': 'MCLAREN'} %}
    </div>
  </div>
{% endblock %}
