{% block popular_cars %}
  <div class="popular-cars-container">
    {# Title #}
    <div class="popular-cars-title">

      <div class="title-container flexbox">
        <img src="public/assets/svg/fire.svg" alt="">
        <div class="title">Popular cars</div>
      </div>

      <div class="see-all-col">See All Collection ></div>
    </div>

    {# 3 popular car #}
    <div class="popular-cars-area">
      {% include '/templates/components/popular-card.twig' %}
      {% include '/templates/components/popular-card.twig' %}
      {% include '/templates/components/popular-card.twig' %}
    </div>
  </div>
{% endblock %}
