{% block popular_cars %}
  <div class="popular-cars-container">
    {# Title #}
    <div class="popular-cars-title">

      <div class="title-container flexbox">
        <img src="public/assets/svg/fire.svg" alt="">
        <div class="title">Popular cars</div>
      </div>

      <a class="see-all-col" href="/cars">See All Collection ></a>
    </div>

    {# 3 popular car #}
    <div class="popular-cars-area">
      {% include '/templates/components/popular-card.twig' with {'model': 'Porsche 911', 'version': 'Turbo S - 2021', 'logo': 'public/assets/svg/porsche.svg', 'modelImage': 'public/assets/car-model/porsche1.png', 'available': 'Available', 'name_owner': 'User Test1', 'price': '950', 'nameBackground': 'PORSHE', 'backgroundColor': '#dadaffe8'} %}
      {% include '/templates/components/popular-card.twig' with {'model': 'Ferrari Pista', 'version': 'Ferrari 488 GTB', 'logo': 'public/assets/svg/ferrari.svg', 'modelImage': 'public/assets/car-model/ferrari1.png', 'available': 'Available', 'name_owner': 'User Test2', 'price': '450', 'nameBackground': 'FERRARI', 'backgroundColor': '#ffdadae8'} %}
      {% include '/templates/components/popular-card.twig' with {'model': 'Mclaren 765LT', 'version': '"LT" (Longtail)', 'logo': 'public/assets/svg/mclaren.svg', 'modelImage': 'public/assets/car-model/mclaren2.png', 'available': 'Available', 'name_owner': 'User Test3', 'price': '750', 'nameBackground': 'MCLAREN', 'backgroundColor': '#ffeedae8'} %}
    </div>
  </div>
{% endblock %}
